<a href="https://colab.research.google.com/github/byambaa1982/mongol_tweets/blob/master/tweets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Sentiment Analysis

### Aшигласан сангууд

In [3]:
#Import the necessary methods from tweepy library
from tweepy.streaming import StreamListener
from tweepy import OAuthHandler
from tweepy import Stream
import tweepy
import pandas as pd
import numpy as np
import regex as re
import os
import json
import time
import sys
import io
from datetime import datetime, date, time, timedelta
import pandas_gbq


# Google Cloud Platform - Using Machine Learning APIs  ).

### Security

First things first - we need to authenticate against the Google Cloud APIs.

#### Getting a Google API Credential.

First, visit <a href="http://console.cloud.google.com/apis">API console</a>, choose "Credentials" on the left-hand menu.  Choose "Create Credentials" and generate an API key for your application. You should probably restrict it by IP address to prevent abuse, but for now, just  leave that field blank and delete the API key after trying out this demo.

Then, when you have your key, you will enter it in this first executable cell:

In [ ]:
# import getpass

# APIKEY = getpass.getpass()

 ### Access google driver using google credentials

In [4]:
from google.colab import drive
drive.mount('/content/gdrive', force_remount=True)

Mounted at /content/gdrive

In [5]:
os.chdir('/content/gdrive/My Drive/fiverr/tweets')
with open("twitter_credentials.json", "r") as file:
  creds = json.load(file)
auth = tweepy.OAuthHandler(creds['CONSUMER_KEY'], creds['CONSUMER_SECRET'])
auth.set_access_token(creds['ACCESS_TOKEN'], creds['ACCESS_SECRET'])
api = tweepy.API(auth, wait_on_rate_limit=True)
os.chdir('/content/gdrive/My Drive/fiverr/byamba/data')

### Functions - функцүүд

In [8]:
def desc_users(account_list):
	users={}
	users["name"]=[]
	users["screen_name"]=[]
	users["description"]=[]
	users["statuses_count"]=[]
	users["friends_count"]=[]
	users["followers_count"]=[]
	users["account_age"]=[]
	users["average_tweets_per_day"]=[]
	if len(account_list) > 0:
		for target in account_list:
			try:
				item = api.get_user(target)
				users["name"].append(item.name)
				users["screen_name"].append(item.screen_name)
				users["description"].append(item.description)
				users["statuses_count"].append(item.statuses_count)
				users["friends_count"].append(item.friends_count)
				users["followers_count"].append(item.followers_count)
				tweets = item.statuses_count
				account_created_date = item.created_at
				delta = datetime.utcnow() - account_created_date
				account_age_days = delta.days
				users["account_age"].append(account_age_days)
				# print("Account age (in days): " + str(account_age_days))
				if account_age_days > 0:
					# print("Average tweets per day: " + "%.2f"%(float(tweets)/float(account_age_days)))
					users["average_tweets_per_day"].append(float(tweets)/float(account_age_days))
			except:
				print("not found:{}".format(target))
	df=pd.DataFrame(users, columns=users.keys())
	return df

In [9]:
def get_tweets_csv(search_words, date_since):
  new_search = search_words + " -filter:retweets"

  tweets = tweepy.Cursor(api.search,
                              tweet_mode="extended", 
                              q=new_search,
                              lang="ru",
                              since=date_since).items(2000)

  users_locs = [[tweet.id_str, tweet.user.screen_name, tweet.full_text, tweet.created_at, tweet.user.location
                ,tweet.favorite_count,tweet.retweet_count] for tweet in tweets]
  users_locs
  # Checks if there are coordinates attached to tweets, if so extracts them
  # users_locs['Tweet Coordinates'] = users_locs.apply(extract_coordinates,axis=1)

  tweet_text = pd.DataFrame(data=users_locs, 
                      columns=["id", "user", "tweets","date","location","favorites","retweets"])

  # tweet_text['Tweet Coordinates'] = tweet_text.apply(extract_coordinates,axis=1)
  # tweet_text.to_csv(search_words+".csv", index=False)
  return tweet_text

In [10]:
def get_tweets_by_location(api, latitude, longitude, radius, search_words, date_since):
    new_search = search_words + " -filter:retweets"
    tweets = tweepy.Cursor(api.search,
                           q=new_search,
                           tweet_mode="extended", 
                           geocode=f"{latitude},{longitude},{radius}km",
                           lang="ru",
                           since=date_since).items(2000)
    users_locs = [[tweet.id_str, tweet.user.screen_name, tweet.full_text, tweet.created_at, tweet.user.location
                ,tweet.favorite_count,tweet.retweet_count] for tweet in tweets]
    tweet_text = pd.DataFrame(data=users_locs, 
                      columns=["id", "user", "tweets","date","location","favorites","retweets"])
    return tweet_text

In [11]:
def get_user_stats(api, user_id):
    user = api.get_user(user_id)
    return {
        "user_name":user_id,
        "followers_count": user.followers_count,
        "friends_count": user.friends_count,
        "listed_count": user.listed_count,
        "favourites_count": user.favourites_count,
        "statuses_count": user.statuses_count
    }

In [28]:
def print_ids(df, col, num):
  for name in df[str(col)].to_list()[0:num]:
    print('@'+name+',')

In [13]:
def get_name(tweets, df):
  tweets=tweets[['user', 'tweets', 'favorites','date']]
  tweets.columns=pd.Series(['screen_name', 'tweets', 'favorites','date'])
  temp=df[['name', 'screen_name']]
  tweets=pd.merge(tweets, temp, how='left', on=['screen_name'] )
  tweets=tweets[['name', 'screen_name','tweets', 'favorites','date']]
  return tweets

In [14]:
def get_stats_with_name(tweets):
  user_name_list=[name for name in tweets.user.to_list()]
  df=desc_users(user_name_list)
  df['account_age_year']=df.account_age.map(lambda x: x/360)
  df.average_tweets_per_day=df.average_tweets_per_day.map(lambda x: round(x,1))
  df.account_age_year=df.account_age_year.map(lambda x: round(x,1))
  df=df[['name', 'screen_name', 'statuses_count','followers_count', 'average_tweets_per_day','account_age_year']]
  return df

In [15]:
def display_full(tweets):
# Set the display option to show the full text
  pd.set_option('display.max_colwidth', None)

  display(tweets)

In [16]:
# Get Followers ids
username = "enkhbatbyambats"  # Replace with the username you want to get the followers for
user = api.get_user(username)
user_id = user.id_str

# Get the user IDs for all the followers of the given user
follower_ids = []
for follower_id in tweepy.Cursor(api.followers_ids, user_id=user_id).items():
    follower_ids.append(follower_id)

# Print the follower IDs
# print(follower_ids)

In [17]:
# Get the user ID for the given Twitter username
username = "enkhbatbyambats"  # Replace with the username you want to get the followees for
user = api.get_user(username)
user_id = user.id_str

# Get the user IDs for all the accounts that the given user is following
followee_ids = []
for followee_id in tweepy.Cursor(api.friends_ids, user_id=user_id).items():
    followee_ids.append(followee_id)

# Print the followee IDs
print(followee_ids)

[132568511, 1537609540803641344, 1477847745348370432, 19067150, 1081012147239428096, 1528782657735208961, 1158195831201308673, 1527666073914511363, 1335132884278108161, 1271899909675859968, 4416456732, 1075142947270742016, 1488144856631451655, 1349982942873878528, 524205406, 3831370639, 625761010, 933498545629315072, 1192931493414363139, 630995607, 1120633726478823425, 24949956, 861945291926233088, 1226943756, 219720195, 1128525318740779008, 319988168, 1436666545506185225, 1290494413362233345, 319131439, 1384908454146445316, 1443631963454181376, 1470351572295110656, 1327266713054941184, 1126512593579823109, 1498176452084256772, 1891490382, 524222372, 321835721, 839488183813337090, 1387552712, 6643802, 391852521, 2668655310, 209037902, 54819349, 62448898, 80777173, 1366385154332188675, 72031429, 277530827, 622518593, 454540822, 1922719790, 957152929, 703406372, 394082002, 1338574002, 125965499, 236490748, 1537796658, 2168185345, 1006419421244678144, 403842551, 62980476, 904700529988820992, 371759637, 1303947838854848514, 1292460319344717825, 939091, 3714060674, 172269194, 576535170, 205605464, 316239496, 620829308, 117337879, 17494010, 786576062, 1067262793693356033, 198001170, 17461112, 356057396, 1262971643149852672, 1049506425737641984, 748426800, 729305860548104194, 1122434628164284417, 75711015, 1222766906366541824, 1244158208, 1318031274, 587955457, 3433657749, 1156117648712712193, 845434856, 563732457, 260209577, 3182593644, 4778423928, 231304224, 112445679, 854413417, 1219180125767524352, 394100881, 568890486, 865981534670536704, 1172933424425734144, 548560257, 1147754618824216577, 1112639806285189121, 1116172382626926593, 745273, 473717147, 1044008834552000512, 473685860, 110612630, 1113073424, 896645989, 328568834, 295721189, 256294135, 539761753, 257155654, 1082883643545071616, 447029479, 380350629, 216939636, 2479063608, 750167322917089280, 717599995017302016, 243999634, 150171112, 876684341782491136, 58303648, 432122891, 729501740341460992, 1138626685, 3304605185, 729340208991199232, 1088080490, 971998832937517063, 957747100237774848, 989847175885602816, 40413995, 848954316, 863043002, 1341586964, 818366306499981312, 1310694384, 435314072, 954448099879079936, 259558872, 286434545, 394015406, 920374391464255488, 910611310177644545, 4826209539, 894231710065446912, 902839045356744704, 2577886615, 21263333, 877807935493033984, 842033575985782784, 761554931404898304, 2561715571, 4135644558, 874903928034537476, 878854369562828800, 828668619986964480, 2797935057, 3291830170, 453831804, 907638040377491457, 10950722, 1620090554, 18549724, 2312333412, 2309637680, 2207129125, 1856523530, 1471313300, 94274445, 143053926, 61417559, 1469101279, 915465450, 707471022, 1333467482, 357312062, 125304737, 574032254, 352518189, 886832413, 2445396642, 2338229497, 311430228, 1620115130, 361289499, 3367334171, 962847140, 1060231182, 899903394692816896, 280958095, 972651, 719783725572231168, 324859485, 58569513, 326726152, 404142291, 474600360, 515653963, 232541620, 2308000885, 2939204450, 825165006, 524259717, 872018846030458880, 3566409558, 1339835893, 843687955, 361125424, 1003516866, 388738659, 1327225944, 2470454827, 488173354, 1356960606, 293894498, 105174003, 75947380, 84289148, 31054179, 851143969, 259725229, 107819182, 155603437, 967835815, 557625659, 734624090, 1193199858, 295500208, 1331596724, 838020665592573952, 4208849172, 320113893, 49584951, 44196397, 68949263, 2233154425, 1653330690, 28406270, 25073877, 208087022, 12831202, 529122028, 459974579, 15749983, 565976383, 1047028244, 3020588617, 501685053, 1064595848, 177193007, 514598057, 861072558, 1571270053, 1001110069, 631068648, 324137207, 2709162661, 4185883332, 2751772735, 537873106, 939239402, 258821012, 1341595158, 822547747, 117943713, 15110357, 752573535852257282, 16777778, 3837384680, 63157545, 388697028, 329559766, 277977087, 70392251, 272162794, 73143907, 17338078, 211264632, 211266908, 17780809, 16381558, 914742186, 87784776, 484362759, 17050748, 5654712, 12838532, 9545002, 7663702, 14957318, 14790524, 16830572, 18148466, 17028405, 12811952, 17294950, 744984896079339520, 55849441, 4786322868, 4898585597, 277990671, 599234885, 3145561568, 314506791, 4610519779, 2353369417, 135842419, 927098294, 2886596594, 4408619113, 217708475, 1683307524, 918577610, 2917623006, 1249741591, 457154308, 631284894, 3185240833, 581835903, 3958128013, 602605380, 2471856036, 2920218674, 734039005, 516123523, 2191859209, 166885112, 320754497, 2854378172, 2345325285, 31064847, 223495564, 2923353986, 777535802, 366361160, 588793319, 3557279958, 477700283, 2412590144, 3904639934, 155557300, 476784284, 226257717, 317095571, 2428796856, 2730832290, 598977413, 596548834, 17416571, 142705779, 68331085, 3262869878, 169398544, 1010476868, 2284792706, 440357067, 534371120, 418809855, 3145668133, 3177348554, 3164724325, 273668513, 317543310, 929497734, 2279913906, 483486676, 3062698344, 1381176036, 3081559477, 1030135548, 2378391824, 67677944, 61459949, 154920846, 1679764436, 3018127278, 430601726, 2966273888, 2985700141, 867565165, 340291980, 2989873994, 247119298, 2959517574, 2959548631, 2287087490, 2933694168, 2925425365, 2899581824, 329092249, 453632808, 277419543, 2839344014, 24593514, 1124087256, 424842907, 2231063953, 29851021, 29856819, 31213362, 2503685742, 2432739211, 2559475567, 964215066, 2934168067, 2933506232, 511692316, 330837292, 301290850, 18457487, 611335181, 2901469801, 703171094, 419525784, 596635550, 2487261122, 2901584473, 1358214486, 2911138641, 1094298786, 412859511, 419480245, 612076511, 992205871, 633251148, 189131044, 577007837, 629194427, 873367382, 313754127, 969364111, 771787556, 854989844, 318993124, 18812301, 2359502690, 588957121, 1903332992, 1389889088, 2552635634, 303862998, 390535692, 18530856, 890646199, 2765289283, 322668624, 581432918, 298716507, 788558719, 1929170648, 555642197, 1493175842, 1543173342, 473255809, 1094361883, 956916104, 45003105, 551961653, 1073309640, 463476072, 5523092, 984741056, 1513008931, 2262126474, 1048149746, 39998427, 2177201796, 2373936966, 2302617576, 51272511, 2284419134, 163742973, 2620185122, 2697022298, 435509618, 378402845, 2349801260, 1292067824, 1001227442, 555860219, 483759190, 842784284, 1659453475, 2562901992, 7309052, 1901866416, 592768525, 535234850, 2602660988, 117737404, 381515934, 225335496, 259649201, 1217622499, 559999939, 322509463, 2167843562, 315267030, 505759032, 617803274, 2487330625, 1366460156, 613360074, 2497665146, 920072982, 773065196, 2206544119, 68574458, 617927779, 580004296, 2166726410, 1047500016, 322449548, 2479337064, 919642994, 726152383, 224510476, 2438061738, 1054187918, 2334781514, 1858497169, 877798848, 2374673630, 962622343, 2413992816, 352789283, 242784060, 1423529149, 942815592, 2401773758, 1856287884, 1413183932, 503949186, 863527548, 488751763, 838419253, 92508060, 1306525458, 242586196, 611778855, 380078487, 1559460626, 329789092, 19483191, 704952608, 439810624, 888288576, 114982278, 547231154, 533003717, 331616330, 259113325, 1054258590, 1121160674, 1338396511, 592710809, 890003490, 156587993, 469452794, 1076012016, 201192826, 1009389278, 124805811, 750731917, 1044578952, 1130205883, 1070106204, 1044452413, 93814868, 275919943, 1079112612, 284317459, 545740288, 975840031, 236867435, 289319865, 1203252080, 321290182, 871173432, 868483170, 348935606, 1227717290, 821206968, 432343171, 553685589, 950144892, 166950507, 431498029, 812556283, 129166552, 634625208, 483833800, 456334267, 339510467, 1056555805, 539194145, 963730016, 466523170, 1049750179, 918902605, 1153357364, 232890736, 99260518, 1041444037, 860554561, 707294366, 987851228, 773761688, 1042392498, 495133217, 459059240, 636760951, 1122090174, 367832278, 1094733264, 1133241042, 903536425, 538052611, 541221037, 982674692, 495224823, 53826821, 298107809, 433556356, 388784593, 1227067190, 931369844, 1223770782, 297907485, 1202865744, 154067873, 48939182, 53640155, 294922273, 1041712730, 1076836056, 574495149, 132134828, 1068069704, 35445012, 192074165, 551918087, 1052263758, 253892424, 117993235, 280282934, 361047007, 1036772282, 1102661347, 213559168, 491922927, 18796754, 1061804592, 430321873, 360979122, 545670539, 98373744, 726127591, 79693426, 266736759, 758567892, 1045777286, 885902149, 1083540624, 43272504, 121991840, 126299030, 198142298, 287604421, 30664613, 130039824, 296157801, 236272572, 53007630, 47863038, 280076829, 238480712, 269733273, 536329828]

## Pull Data

In [6]:
DATE="2023-02-25"

### Дагагчидынхаа дата г сонирхсон нь

In [ ]:
my_followers=desc_users(follower_ids)
my_followers=my_followers.sort_values("followers_count", ascending=False)
display(my_followers)

,name,screen_name,description,statuses_count,friends_count,followers_count,account_age,average_tweets_per_day
262,"MarQuis Trill | Crypto, NFT & Blockchain Analyst",6BillionPeople,"Cryptocurrency + NFT + Blockchain Educator, In...",183345,4046930,2049144,5053,36.284386
322,Entrepreneurs,TheSuccessKing,"I Quote & Share Articles About Entrepreneurs, ...",46684,329616,404801,4272,10.927903
646,Oyungerel Цэдэвдамба,oyunlt,Human rights activist & author of The Green Ey...,68376,25006,299634,4996,13.686149
543,Mongol Tsakhia ELBEGDORJ,elbegdorj,"President 2009-2017, PM 1998,2004 of Mongolia,...",4842,7312,265756,4419,1.095723
471,Баабар,baabar,Баабар,670,46628,173293,5030,0.133201
...,...,...,...,...,...,...,...,...
253,oyunaa,oyunaa19877848,,3,9,1,1761,0.001704
633,onon,onon16973338,,0,20,1,3644,0.000000
545,Baaska,Baaska888,,0,9,1,3577,0.000000
55,fibonaccistress,nkhjn0411,,56,523,0,2192,0.025547
57,UBman,OrgilO6,,0,17,0,1088,0.000000

In [ ]:
df=my_followers
df['account_age_year']=df.account_age.map(lambda x: x/360)
df.average_tweets_per_day=df.average_tweets_per_day.map(lambda x: round(x,1))
df.account_age_year=df.account_age_year.map(lambda x: round(x,1))
df=df[['name', 'screen_name', 'statuses_count','followers_count', 'average_tweets_per_day','account_age_year']]
df.head()

,name,screen_name,statuses_count,followers_count,average_tweets_per_day,account_age_year
262,"MarQuis Trill | Crypto, NFT & Blockchain Analyst",6BillionPeople,183345,2049144,36.3,14.0
322,Entrepreneurs,TheSuccessKing,46684,404801,10.9,11.9
646,Oyungerel Цэдэвдамба,oyunlt,68376,299634,13.7,13.9
543,Mongol Tsakhia ELBEGDORJ,elbegdorj,4842,265756,1.1,12.3
471,Баабар,baabar,670,173293,0.1,14.0

In [ ]:
df.to_csv(f'my_followers_{DATE}.csv',index=False)

### Монголын топ 20 жиргээчийг сонирхсон нь

In [ ]:
# my_followees=desc_users(followee_ids)
# my_followees=my_followees.sort_values("followers_count", ascending=False)
df = my_followees
df['account_age_year'] = df.account_age.map(lambda x: x/360)
df.average_tweets_per_day = df.average_tweets_per_day.map(lambda x: round(x,1))
df.account_age_year = df.account_age_year.map(lambda x: round(x,1))
df = df[['name', 'screen_name', 'statuses_count','followers_count', 'average_tweets_per_day','account_age_year', 'description']]
df_sorted = df.sort_values("followers_count", ascending=False)

In [ ]:
df.to_csv(f'my_followees_{DATE}.csv',index=False)

In [ ]:
# Reset the index of the sorted DataFrame
df_sorted = df_sorted.reset_index(drop=True)
mongol_followees = df_sorted.iloc[64:,:]

In [ ]:
# Reset the index of the sorted DataFrame
df_sorted = df_sorted.reset_index(drop=True)
mongol_followees = df_sorted.iloc[64:,:]
mongol_followees = mongol_followees.drop([65, 66, 67,68, 70, 72, 74, 75, 76, 77, 78, 82, 83, 86, 87, 89, 91, 95])
mongol_followees=mongol_followees.reset_index(drop=True)
mongol_followees.head(20)

,name,screen_name,statuses_count,followers_count,average_tweets_per_day,account_age_year,description
0,Asashoryu第68代横綱朝青龍🇯🇵🇲🇳,Asashoryu,61281,345471,14.8,11.5,第68代横綱 朝青龍 明徳 АсашёорюүАкинори Asashōryū Akino...
1,Battulga Khaltmaa,BattulgaKh,14181,304112,3.3,12.1,Монгол Улсын Ерөнхийлөгч | President of Mongol...
2,Oyungerel Цэдэвдамба,oyunlt,68376,299634,13.7,13.9,Human rights activist & author of The Green Ey...
3,Jargal Dambadarjaa,jargal_defacto,25280,279832,5.4,13.1,"ED Defacto Institute, Editor The Defacto Gazet..."
4,Mongol Tsakhia ELBEGDORJ,elbegdorj,4842,265756,1.1,12.3,"President 2009-2017, PM 1998,2004 of Mongolia,..."
5,Baabar,Baabarniitlelch,36049,264775,9.0,11.1,Vitam impendere vero
6,Enkhbat Dangaasuren,enkhbat,34832,255389,6.8,14.3,"System Engineer/PhD, Mongolian Internet Pionee..."
7,Zandaakhuu Enkhbold,enkhboldz,31233,238296,6.2,14.1,https://t.co/dQUeKWmfCt
8,Temuujin Kh,Temuujin_Kh,38229,237012,7.6,13.9,
9,Ganhuyag Ch. Hutagt,ganhuyag,105679,228843,21.6,13.6,"CEO, Ard Holdings. Co-Founder: Investor Nation..."
10,Бундан Болдсайхан,Boldsaikhan_dr,24035,222680,5.5,12.0,"cardiac surgeon, Songdo_Bumrungrad hospital"
11,Bill de Blasio,BilldeBlasio,2532,215526,0.6,11.2,Former Mayor of New York City. Love my beautif...
12,Норовын АЛТАНХУЯГ,altankhuyag_mn,2325,214675,0.5,12.3,Монгол улсын 27 дахь Ерөнхий сайд. УИХ гишүүн
13,Amarjargal,AmarjargalR,9284,194930,1.8,14.1,Former PM of Mongolia.
14,Okcoin,Okcoin,14701,175318,4.5,9.0,We’re a global cryptocurrency exchange with th...
15,Gavin Andresen,gavinandresen,2564,175148,0.5,13.0,Trying to keep it simple.
16,Neo News,NEOnewstoday,2494,173344,1.2,5.7,Bringing you the latest Neo blockchain news! F...
17,FOX 32 News,fox32news,228011,173300,40.1,15.8,FOX 32 News has got you covered for breaking n...
18,Баабар,baabar,670,173294,0.1,14.0,Баабар
19,Ё. Отгонбаяр,OtgonbayarY,84167,164070,18.1,12.9,Түүхийн сэдвээр бүтээл туурвих дуртай нэгэн - ...

In [ ]:
mongol_followees.to_csv(f'my_mongol_followees_{DATE}.csv', index=False)

In [ ]:
df.to_csv(f'my_mongol_followees_{DATE}.csv', index=False)

In [ ]:
df = pd.read_csv(f'my_mongol_followees_{DATE}.csv')

In [ ]:
# df = df.drop([26])
# df = df.reindex()
df=df.head(20)

In [ ]:
df = df[['name', 'screen_name',  'followers_count','average_tweets_per_day', 'account_age_year']]

In [ ]:
df.to_csv(f'top_20_account_{DATE}.csv', index = False)

In [ ]:
active=df.sort_values("average_tweets_per_day", ascending=False)
active.head(20)

,index,name,screen_name,statuses_count,followers_count,average_tweets_per_day,account_age_year,description
17,26,𝓣𝓼.𝓑𝓪𝓽-𝓔𝓻𝓭𝓮𝓷𝓮 🕉,tsbat_IT,612810,151171,148.5,11.5,"Алдаатай, оноотой жирийн нэгэн, Инженер, Фото ..."
25,36,Uyanga Tsoggerel,Uyanga_ts,485392,119888,97.3,13.9,♣🏠 Clubhousehttps://clubhousedb.com/user/uyang...
40,51,Л. ЦАНДЭЛЭГ,Tsandeleg_L,304891,91330,81.0,10.5,Монгол Улсын Тод Манлай Уяач Адуу Тариа хоёрто...
147,158,Nuclear Ganaa,ganaa23mn,256913,30661,68.3,10.4,"Өнгийг биширч битгий хар, гэрэл гэж бодоод сур..."
178,189,БУЯНАА.МН,erdene457,244476,24603,64.4,10.5,"хүний эрх, эрх чөлөө, ардчилал, шударга ёс, па..."
152,163,Амьдралын Санхүү,FinlifeMN,219181,30058,59.4,10.2,Санхүүгийн боловсрол түгээж Хүртээмжтэй хөгжли...
213,224,Batbayar Ochirbat,0Baagii,220636,19583,54.6,11.2,"Think Globally Work Locally , Alumni of London..."
313,324,Uuganbayar Batsaihan,uuganaa_v2,129332,11170,52.2,6.9,"“Those who deny freedom to others, deserve it ..."
112,123,АРИ,Ariunq,70895,39536,50.9,3.9,Жиргээгээ устгаад өг гэж битгий гуйгаад байгаа...
337,348,𝑵.𝑩.𝑩𝒂𝒕𝒔𝒂𝒊𝒌𝒉𝒂𝒏,NBBatsaikhan,176316,9700,50.4,9.7,♏☸
48,59,Шилэн Цогоо,TsogtgerelB,216819,76276,48.1,12.5,MPP / ViceMinister RoadTransport / UBTZ Railwa...
166,177,Batsugar,Batsugar1,193627,26273,48.0,11.2,"""Өөрөө ч амьдарч, өрөөл бусдад ч амьдрах болом..."
39,50,BATENGINEER,batengineer,164296,94431,47.6,9.6,Aircraft Engineer/Aviation Lawyer/Author educa...
251,262,Болжуук,BoljmorB,171070,15353,47.3,10.0,PADI Advanced Open Water Diver 🧜🏽‍♀️🤿
114,125,Алдар,Aldar51,176734,38996,45.3,10.8,500K Followers\nSukhbaatar Province Ambassador...
27,38,Rumail Abbas,Stakof,217704,116421,44.2,13.7,"Part of @PamitnyaNgantor, Contributing Author ..."
288,299,Aлтан. Алим,altanalim,217898,12928,44.0,13.8,Ipsa Scientia Potestas Est. RT is not endorsement
123,134,Чөлөөт хүн,Ganzorig1,186836,34750,43.4,11.9,"Freeman of Mongolia. Сүүгээр бойжигч, Хомосапи..."
150,161,Altantuya Tumur,altantuya_t,161534,30279,41.2,10.9,Би сайхан гэр бүлтэй аз жаргалтай эмэгтэй
113,124,Cygnus☺️,Cygnus_mgl,153200,39077,40.2,10.6,Per Aspera Ad Astra✨

In [ ]:
active.to_csv(f'active_20_{DATE}.csv', index = False)

### Search by location

In [20]:

# DATE="2023-02-25"
# SEARCH_WORD = "*"
# tweets = get_tweets_by_location(api, 47.9186, 106.9175, 10, SEARCH_WORD, DATE)
# tweets = tweets.sort_values("favorites", ascending=False)
df = tweets [['user', 'tweets', 'favorites']]
df.head(10)

,user,tweets,favorites
1398,elbegdorj,Өчигдөр Украйнаар бүтэн өдөр амьсгалав. Хамгий...,232
1564,g_ganbat,"Асгатын давааны хяраас Их Соёны нуруу хүртэлх,...",168
1674,Gumpaa,Тэхдээ Аялалын сайд улсынхаа бараг хамгийн цэв...,162
1944,tsogt_tsogt,Энэ 2 хөшөөг ямар азаар буулгасын. Одоо байга...,160
1576,Gumpaa,Нэгэнт сэдэв болсон дээр нь хэлхэд хар залууга...,133
1868,g_ganbat,"Хүрэлсүх, Оюун-Эрдэнэ нарын бидний хувь эзэмшд...",125
1141,hono_hongoroo,"💡 Дорноговь, Сайншанд хот - миний сайхан нутаг...",106
1110,g_ganbat,Тайлбаргүй. https://t.co/w6097dY5tb,78
1015,sakuna_mn,Ийм юмнууд ТҮК-ийн ажилчдаа авч өгөх юмсан. ht...,67
1625,rdavaadorj,Руслан Хасбулатов гэгч эрхэм миний дисертацийн...,67

In [29]:
print_ids(df, 'user', 10)

@elbegdorj,
@g_ganbat,
@Gumpaa,
@tsogt_tsogt,
@Gumpaa,
@g_ganbat,
@hono_hongoroo,
@g_ganbat,
@sakuna_mn,
@rdavaadorj,

In [21]:
tweets.to_csv(f'search_by_location_{DATE}.csv',index=False)

### Create a chart

In [ ]:

DATE="2023-02-20"
SEARCH_WORD="данх"
negative = get_tweets_csv(SEARCH_WORD, DATE)
negative=negative.sort_values("favorites", ascending=False)
print(f"Total of tweets: {negative.shape[0]}, Total of favorites: {negative.favorites.sum()}, a total of retweets: {negative.retweets.sum()}")
negative.head(10)

Total of tweets: 59, Total of favorites: 157, a total of retweets: 61

,id,user,tweets,date,location,favorites,retweets
43,1627502789877432320,Odbayar1206,Мөнхжин нарын залуусын хэргийг шүгэлддэг данх ...,2023-02-20 02:57:57,Mongolia,35,21
40,1627504729520500736,chinbat84,Шүгэлддэг данх \n• Зохиолтой\n• Тавилтай\n• Мо...,2023-02-20 03:05:39,Mongolia,35,21
42,1627503314740060160,Uyanga_ts,Энэ Данх одоо юун гонгиноон хийцийн бэ? Өөрийг...,2023-02-20 03:00:02,"Ulaanbaatar, Mongolia",23,2
56,1627474828751142915,aagiiah,Айлд ороод хиам идсэн чинь тэр нь #ДАНХ-ыг дол...,2023-02-20 01:06:50,,12,5
50,1627490303044358144,altancom7969,Өчигдөр орой айл бүрийн цэнхэр дэлгэцээр хоосо...,2023-02-20 02:08:20,Улаанбаатар,11,2
35,1627514946358575105,sumiyamgl,"Та нар данх гээд бдаг билү, би хувьдаа @Oyuner...",2023-02-20 03:46:15,Mongolia,8,4
29,1627539938123345922,gan_9999,"Манай Монголд ямар ч адгийн шаарыг,ямар ч чадв...",2023-02-20 05:25:34,,8,3
55,1627476917099143169,ayvengoroe,Шаампар данх https://t.co/CfNEzvLEkB,2023-02-20 01:15:08,"Ulaanbaatar, Mongolia",4,0
15,1627610685114040320,ganzorigt,@UBn_mn @OyunerdeneMN @elbegdorj @Enkhbayar_ba...,2023-02-20 10:06:41,Mongolia,3,0
25,1627558413952757760,OilooSM,@Babrosk Данх зүлгээд л үү? Сүүлдээ нөгөөх нь ...,2023-02-20 06:38:59,Ulaanbaatar,2,0

In [ ]:
neg_user_stats=get_stats_with_name(negative.head())
neg_user_stats.sort_values("followers_count", ascending=False)

,name,screen_name,statuses_count,followers_count,average_tweets_per_day,account_age_year
2,Uyanga Tsoggerel,Uyanga_ts,485391,119906,97.3,13.9
4,Д. Алтангэрэл,altancom7969,81889,9689,22.8,10.0
0,🟡 E.Odbayar Dēmos.mn ᠵᠣᠨ,Odbayar1206,19089,8877,4.4,12.1
3,Алтангэрэл Ц. %=🗳,aagiiah,10912,5079,34.9,0.9
1,САЛБАДАЙ,chinbat84,4021,1454,1.1,10.6

In [ ]:
full_neg=get_name(negative.head(), neg_user_stats)

In [ ]:
display_full(full_neg)

,name,screen_name,tweets,favorites,date
0,🟡 E.Odbayar Dēmos.mn ᠵᠣᠨ,Odbayar1206,Мөнхжин нарын залуусын хэргийг шүгэлддэг данх захиалж шоронд хийлгэсэн юм байна. Улс төрийн хэрэг гэдэг нь үнэн байна. Нууцаа ярих гээд хулгай дээрмээ ярив. https://t.co/dbLh5TcHkf,35,2023-02-20 02:57:57
1,САЛБАДАЙ,chinbat84,Шүгэлддэг данх \n• Зохиолтой\n• Тавилтай\n• Монтажтай\n• Цензуртэй\nНэвтрүүлэгт ороо ч нэмэр алга. Дандаа өөрийнхөө хулгайг ярих юм шууд эфирээр 5-6 сэтгүүлчдийн асуултад ээлжлэн хариулбал исгэрсээр байгаад дуусах байх даа. \n https://t.co/UQOAo2jzkr,35,2023-02-20 03:05:39
2,Uyanga Tsoggerel,Uyanga_ts,Энэ Данх одоо юун гонгиноон хийцийн бэ? Өөрийгөө шударга ёсны төлөө тэмцэгч болгож өрөвдүүлэх гээд бгаамуу?,23,2023-02-20 03:00:02
3,Алтангэрэл Ц. %=🗳,aagiiah,Айлд ороод хиам идсэн чинь тэр нь #ДАНХ-ыг долоож авсан мөнгөөрөө авсан хиам байвал яах уу ? Идмээргүй санагдчихлаа 😂,12,2023-02-20 01:06:50
4,Д. Алтангэрэл,altancom7969,Өчигдөр орой айл бүрийн цэнхэр дэлгэцээр хоосон данх баахан шүгэлдсэн гэв үү дээ? https://t.co/wEqQXOwiRb,11,2023-02-20 02:08:20

In [ ]:
print_screen_name(full_neg)

@Odbayar1206,
@chinbat84,
@Uyanga_ts,
@aagiiah,
@altancom7969,

In [ ]:
negative.to_csv(f'negative_{DATE}.csv',index=False)

In [ ]:
DATE="2023-02-20"
SEARCH_WORD="Л.Оюун-Эрдэнэ:"
tweets = get_tweets_csv(SEARCH_WORD, DATE)
tweets=tweets.sort_values("favorites", ascending=False)
print(f"Total of tweets: {tweets.shape[0]}, Total of favorites: {tweets.favorites.sum()}, a total of retweets: {tweets.retweets.sum()}")
tweets.head(10)

Total of tweets: 49, Total of favorites: 241, a total of retweets: 140

,id,user,tweets,date,location,favorites,retweets
48,1627465618072170496,Gerlee_smile,"Оюун-Эрдэнэ бол чадамжгүй ЕС, улс орон ямар байгаагаар ажлыг нь дүгнэдэг болохоос худлаа ярьснаар нь дүгнэхгүй л дээ.",2023-02-20 00:30:14,Mongolia,98,34
11,1627596348353818624,Batuka_UB,"Ерөнхий сайд Л.Оюун-Эрдэнэ өнөөдөр АН-ын дарга Л.Гантөмөрийг хүлээн авч уулзан амжилт хүслээ. \nУулзалтад УИХ дахь АН-ын бүлгийн дарга О.Цогтгэрэл, МАН-ын бүлгийн дарга Д.Тогтохсүрэн нар оролцож улс төр, эдийн засаг, парламентын засаглалыг хэрхэн бэхжүүлэх талаар санал солилцлоо🇲🇳 https://t.co/GejM6vrQ2f",2023-02-20 09:09:43,Улаанбаатар хот Монгол Улс .,45,26
21,1627552546142457856,Bolort,"Ерөнхий сайд, МАН-ын дарга Л.Оюун-Эрдэнэ өнөөдөр АН-ын даргаар сонгогдсон Л.Гантөмөрийг хүлээн авч уулзан амжилт хүслээ\n\nПарламентын засаглалыг бэхжүүлэх, авлигын эсрэг хийж буй Ерөнхий сайдын тэмцлийг дэмжихээ АН-ын дарга Л.Гантөмөр илэрхийлэв. https://t.co/5b0QqSJkDX https://t.co/N3wVVkPMj1",2023-02-20 06:15:40,Ulaanbaatar,22,13
20,1627553674821255168,miigaasbntv,"Ерөнхий сайд, МАН-ын дарга Л.Оюун-Эрдэнэ АН-ын даргаар сонгогдсон Л.Гантөмөрийг өнөөдөр хүлээн авч уулзан амжилт хүсчээ‼️🇲🇳 https://t.co/Cu78iHns4B",2023-02-20 06:20:09,,13,3
37,1627498759189049344,TewsMN,"Ерөнхий сайд Л.Оюун-Эрдэнэ: \n""Засгийн газрын эсрэг жагсаалыг IHC санхүүжүүлсэн. Мөн гадны санхүүжилттэй жагсаал болсон."" https://t.co/19Zv7LOgTw",2023-02-20 02:41:56,Mongolia,11,14
38,1627488895662280706,Siidaa09,ЕС Л.Оюун-Эрдэнэ: Боомт хаагдвал юу болдог вэ? Бид харлаа шүү дээ. Тэгвэл цаашид бензин тасарвал яах вэ? Эрчим хүчний хомсдолд орвол яах вэ? Бид гаднаас хамааралтай байгаа эдгээр хүчин зүйлүүдээ маш хурдан цэгцлэх ёстой гэж үзэж байна хэмээн онцоллоо. \n#mnb,2023-02-20 02:02:44,,10,6
46,1627474653273890817,Bayaraa0218,Л.Оюун-Эрдэнэ: Өнгөрсөн 30 жил бид бүх гоё үгээ хэлчихсэн. Харин одоо хийх л үлдсэн\n https://t.co/KQYgBfpSeK,2023-02-20 01:06:09,Ulaanbaatar.Mongolia,7,6
44,1627478571525578752,newsflowmn,Ерөнхий сайд юу хэлэв https://t.co/JdbDscXqbV \nЕрөнхий сайд Л.Оюун-Эрдэнэ МҮОНТ-д бүрэн хэмжээний ярилцлага өглөө. Түүний ярилцлагаас онцлох хэсгүүдийг хүргэж байна. \n@iToim_mn @OyunerdeneMN @Saruul_dul https://t.co/gVLzJnLqIm,2023-02-20 01:21:43,Mongolia,3,7
10,1627624741854138372,Ana1iz_mn,"Ерөнхий сайд Л.Оюун-Эрдэнэ АН-ын даргаар сонгогдсон Л.Гантөмөр, УИХ дахь АН-ын бүлгийн дарга О.Цогтгэрэл нарыг хүлээн авч уулзлаа. https://t.co/qKwlsuho5Q",2023-02-20 11:02:32,,3,3
6,1627645898518831104,ayvengoroe,"Сонгогчид-бид хулхидуулж ханахгүйм. Одоо МАН-ын худалч нарт итгээд сонговол 2028 оны зун хүртэл нар үзэхгүй. Эд нар 2016 оноос хойш 7 жил дангаараа засаглахдаа юу ч хийсэнгүй, хэн нэгнийг ч хийлгэсэнгүй. Цаашдаа ч хийхгүйм байна. Оюун-Эрдэнэ хулчгар, засгаа наймаалцаад л дууслаа.",2023-02-20 12:26:37,"Ulaanbaatar, Mongolia",3,1

In [ ]:
positive=tweets[tweets.user!="Gerlee_smile"]
pos_user_stats=get_stats_with_name(positive.head())
pos_user_stats.sort_values("followers_count", ascending=False)
full_pos=get_name(positive.head(), neg_user_stats)
display_full(full_pos)

,name,screen_name,tweets,favorites,date
0,Батука,Batuka_UB,"Ерөнхий сайд Л.Оюун-Эрдэнэ өнөөдөр АН-ын дарга Л.Гантөмөрийг хүлээн авч уулзан амжилт хүслээ. \nУулзалтад УИХ дахь АН-ын бүлгийн дарга О.Цогтгэрэл, МАН-ын бүлгийн дарга Д.Тогтохсүрэн нар оролцож улс төр, эдийн засаг, парламентын засаглалыг хэрхэн бэхжүүлэх талаар санал солилцлоо🇲🇳 https://t.co/GejM6vrQ2f",45,2023-02-20 09:09:43
1,Bolortuya Chuluunbaatar,Bolort,"Ерөнхий сайд, МАН-ын дарга Л.Оюун-Эрдэнэ өнөөдөр АН-ын даргаар сонгогдсон Л.Гантөмөрийг хүлээн авч уулзан амжилт хүслээ\n\nПарламентын засаглалыг бэхжүүлэх, авлигын эсрэг хийж буй Ерөнхий сайдын тэмцлийг дэмжихээ АН-ын дарга Л.Гантөмөр илэрхийлэв. https://t.co/5b0QqSJkDX https://t.co/N3wVVkPMj1",22,2023-02-20 06:15:40
2,Мягмартогтох Далай,miigaasbntv,"Ерөнхий сайд, МАН-ын дарга Л.Оюун-Эрдэнэ АН-ын даргаар сонгогдсон Л.Гантөмөрийг өнөөдөр хүлээн авч уулзан амжилт хүсчээ‼️🇲🇳 https://t.co/Cu78iHns4B",13,2023-02-20 06:20:09
3,Tews,TewsMN,"Ерөнхий сайд Л.Оюун-Эрдэнэ: \n""Засгийн газрын эсрэг жагсаалыг IHC санхүүжүүлсэн. Мөн гадны санхүүжилттэй жагсаал болсон."" https://t.co/19Zv7LOgTw",11,2023-02-20 02:41:56
4,𝗦𝗶𝗶𝗱𝗮𝗮 𝗕𝗮𝘁𝗯𝗮𝘆𝗮𝗿,Siidaa09,ЕС Л.Оюун-Эрдэнэ: Боомт хаагдвал юу болдог вэ? Бид харлаа шүү дээ. Тэгвэл цаашид бензин тасарвал яах вэ? Эрчим хүчний хомсдолд орвол яах вэ? Бид гаднаас хамааралтай байгаа эдгээр хүчин зүйлүүдээ маш хурдан цэгцлэх ёстой гэж үзэж байна хэмээн онцоллоо. \n#mnb,10,2023-02-20 02:02:44

In [ ]:
neg_user_stats

,name,screen_name,statuses_count,followers_count,average_tweets_per_day,account_age_year
0,Батука,Batuka_UB,157488,14036,46.1,9.5
1,Bolortuya Chuluunbaatar,Bolort,31444,52791,6.4,13.7
2,Мягмартогтох Далай,miigaasbntv,21393,17967,13.1,4.5
3,Tews,TewsMN,127,165,0.4,1.0
4,𝗦𝗶𝗶𝗱𝗮𝗮 𝗕𝗮𝘁𝗯𝗮𝘆𝗮𝗿,Siidaa09,10838,2337,27.8,1.1

In [ ]:
print_screen_name(full_pos)

@Batuka_UB,
@Bolort,
@miigaasbntv,
@TewsMN,
@Siidaa09,

In [ ]:
positive.to_csv(f'positive_{DATE}.csv',index=False)

### Sort df by favorites

In [ ]:
key_word="чухал"
DATE="2023-02-01"
df=get_tweets_csv(key_word, DATE)
df=df.sort_values("favorites", ascending=False)
df.head(6)
df.to_csv(f'{key_word}.csv',index=False)
df1=pd.read_csv(f'{key_word}.csv')
df1=df1[["user","tweets","favorites", "date"]]
df1.head(6)
df2=df1.head(100)
df2

,user,tweets,favorites,date
0,Siidaa09,"Компанийн хувьд хамгийн чухал нь хүн.Техник, т...",391,2023-02-13 13:02:38
1,dbtseegii,Энэ ёстой зөв чухал асуудал хөнджээ. Олуулаа т...,282,2023-02-17 06:16:19
2,shaba0802,"Яг manipulation, insider trade хийсэн үү гэдэг...",186,2023-02-14 07:10:01
3,Batkhuu_lw,Бидний олонх нь боловсрол мэдлэг чухал биш гол...,132,2023-02-11 01:14:04
4,batzayased,@Gvnjidmaa Уучлаарай. Ийм үед итгэл найдвар чу...,112,2023-02-10 07:09:20
...,...,...,...,...
95,Ariunq,Яг иймэрхүү аргаар дамжуулж хүүхдүүдэд хүнлэг ...,11,2023-02-12 03:31:07
96,argalchin_ovogt,@Tsenguun99999 өө тэгээд өвөр дээр нь өссөн л ...,11,2023-02-16 13:50:59
97,NaigalBatkhuyag,@NTVmn @sambuu01201 Аливаа улс орны хувьд хамг...,11,2023-02-14 10:55:33
98,olonr_R,@EBathul Хэзээ авсан нь чухал биш. Яаж баригдс...,11,2023-02-12 13:35:57
99,Eegiishka,Чи ганц бие үү гэсэн асуулт их ирж байна. Би э...,11,2023-02-16 14:56:34

In [ ]:
df=get_tweets_csv("Л.Оюун-Эрдэнэ", "2023-02-20")
df=df.sort_values("favorites", ascending=False)
df

Empty DataFrame
Columns: [id, user, tweets, date, location, favorites, retweets]
Index: []

In [ ]:
print('Total tweets:{}, Total favorites:{}'.format(df.shape[0], df.favorites.sum()))

Total tweets:803, Total favorites:5424

### Sentiment analysis using Google NLP API

In [ ]:
lservice = build('language', 'v1beta1', developerKey=APIKEY)
def do_sentiment(quote):
  try:
    response = lservice.documents().analyzeSentiment(
    body={
      'document': {
          'type': 'PLAIN_TEXT',
          'content': quote
      }
    }).execute()
    polarity = response['documentSentiment']['polarity']
    # magnitude = response['documentSentiment']['magnitude']
    return polarity
  except:
    polarity=0
    return polarity

### Before calling NLP API, we need to translate Mongolian tweets to English
### using google translate API

In [ ]:
# running Translate API
from googleapiclient.discovery import build
service = build('translate', 'v2', developerKey=APIKEY)

# use the service
inputs = ['is it really this easy?', 'amazing technology', 'wow']
outputs = service.translations().list(source='en', target='mn', q=inputs).execute()
# print outputs
for input, output in zip(inputs, outputs['translations']):
  print(u"{0} -> {1}".format(input, output['translatedText']))

is it really this easy? -> энэ үнэхээр амархан уу?
amazing technology -> гайхалтай технологи
wow -> хөөх

In [ ]:
def translate_it(inputs):
  outputs = service.translations().list(source='mn', target='en', q=inputs).execute()
  return outputs['translations'][0]['translatedText']

### Run NLP API over each tweets to find polarity

In [ ]:
df2['english']=df2.tweets.map(lambda x:translate_it(x))
df2['polarity']=df2.english.map(lambda x:do_sentiment(x))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
df2=df2[['user','polarity','tweets','favorites']]
df2

              user  ...  favorites
0   DanzanBolormaa  ...        274
1         g_ganbat  ...        242
2     Mandolinchin  ...        183
3          tvdaria  ...        162
4      batengineer  ...        155
..             ...  ...        ...
95       amarsanaa  ...         10
96        Burmaa87  ...         10
97       sakuna_mn  ...         10
98          ariunq  ...         10
99         Enerell  ...          9

[100 rows x 4 columns]

In [ ]:
print('Total tweets:{}, Total favorites:{}'.format(df.shape[0], df.favorites.sum()))

Total tweets:951, Total favorites:6243

In [ ]:
# table_id='tweets.enkhbat'
# project_id = 'twittersheet-275317'
# pandas_gbq.to_gbq(df, table_id, project_id=project_id ,if_exists='replace')

1it [00:02,  2.77s/it]

### Visualization

In [ ]:
!ls

ananbuzar.csv	 enkhbat_v2.csv  khurelsukh.csv		     tweeters_v2.csv
anandbuzar.csv	 erdene.csv	 mongolian_top_tweeters.csv  tweets.ipynb
an.csv		 fiverr.csv	 samarsaihan.csv
battulga_v2.csv  hook.csv	 teneg_bandi.csv
enkhbat.csv	 hook_tweet.csv  top_active_tweeters.csv

In [ ]:
df_k=pd.read_csv('khurelsukh.csv')

In [ ]:
df_e=pd.read_csv('enkhbat_v2.csv')

In [ ]:
df_e

                       id             user  ... favorites retweets
0     1394216127404802050          enkhbat  ...       846      110
1     1394245887501619204          enkhbat  ...       676      140
2     1394862654108278787        bambgar19  ...       448       90
3     1393810304996364289      batengineer  ...       391      164
4     1392845222057418759    Sanchir_philo  ...       378      124
...                   ...              ...  ...       ...      ...
1344  1394198984135254017      tuvshee1128  ...         0        1
1345  1394197629177720834          anba_mk  ...         0        1
1346  1394195462836539393         tulgaa68  ...         0        0
1347  1394193792094322689  idevkhtei_irgen  ...         0        0
1348  1392681150779383809          gbulgaa  ...         0        0

[1349 rows x 7 columns]

In [ ]:
df_e=df_e.head(800)

In [ ]:
# df_e['english']=df_e.tweets.map(lambda x:translate_it(x))
df_e['polarity']=df_e.english.map(lambda x:do_sentiment(x))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
def labeling(x):
  if x >0.3:
    return 'positive'
  elif x<-0.3:
    return 'negative'
  else:
    return 'neutral'

### U.Khurelsukh

In [ ]:

df_k['Expression Label'] = df_k.polarity.map(lambda x: labeling(x) )
df_k.tail()

                      id          user  ... polarity Expression Label
798  1393908343693926402   Narantuya_P  ...      0.2          neutral
799  1395261188313804800      BaagiiJr  ...      1.0         positive
800  1395259293209808897   Bilbook0815  ...     -0.5         negative
801  1393916458548166664  Amarsanaa006  ...     -1.0         negative
802  1394295007725584384   AnjinZaVoid  ...      1.0         positive

[5 rows x 10 columns]

In [ ]:
new1 = df_k.groupby('Expression Label').count()
x = list(new1['polarity'])
y = list(new1.index)
tuple_list = list(zip(x,y))

df = pd.DataFrame(tuple_list, columns=['x','y'])

df['color'] = 'blue'
df['color'][1] = 'red'
df['color'][2] = 'green'

import plotly.graph_objects as go
fig = go.Figure(go.Bar(x=df['x'],
                y=df['y'],
                orientation ='h',
                marker={'color': df['color']}))
fig.update_layout(
    title={
        'text': "The latest 802 tweets about the president candidate U.Khurelsukh",
        'y':0.9,
        'x':0.5,
        'xanchor': 'center',
        'yanchor': 'top'})


fig.show()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
df_kh.to_csv('khurelsukh_with_sentiment.csv', index=False)

### D.Enkhbat

In [ ]:
df_e['Expression Label'] = df_e.polarity.map(lambda x: labeling(x) )
df_e.tail()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                      id           user  ... polarity Expression Label
795  1393052334033235969  Gereltod_Tsog  ...      1.0         positive
796  1394165285347856388       Batusolu  ...      0.5         positive
797  1394909744234594308     chaimkaaaa  ...      0.1          neutral
798  1394508797205491713   Nyambaizula5  ...     -1.0         negative
799  1393560958199549952     batjargaln  ...     -0.4         negative

[5 rows x 10 columns]

In [ ]:
new1 = df_e.groupby('Expression Label').count()
x = list(new1['polarity'])
y = list(new1.index)
tuple_list = list(zip(x,y))

df = pd.DataFrame(tuple_list, columns=['x','y'])

df['color'] = 'blue'
df['color'][1] = 'red'
df['color'][2] = 'green'

import plotly.graph_objects as go
fig = go.Figure(go.Bar(x=df['x'],
                y=df['y'],
                orientation ='h',
                marker={'color': df['color']}))
fig.update_layout(
    title={
        'text': "The latest 800 tweets about the president candidate D.Enkhbat",
        'y':0.9,
        'x':0.5,
        'xanchor': 'center',
        'yanchor': 'top'})


fig.show()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
df=df_e.sort_values('date')
df=df[['Expression Label','tweets']]
df.to_csv('enkhbat_sent_analysis.csv', index=False)

In [ ]:
df_e.to_csv('enkhbat_with_sentiment.csv', index=False)

### S.Erdene

In [ ]:
df_er=pd.read_csv('erdene.csv')
df_er=df_er.head(800)

In [ ]:
# df_er['english']=df_er.tweets.map(lambda x:translate_it(x))
df_er['polarity']=df_er.english.map(lambda x:do_sentiment(x))

In [ ]:
df_er['Expression Label'] = df_er.polarity.map(lambda x: labeling(x) )
df_er.tail()

                      id            user  ... polarity Expression Label
795  1394465909578756103          timemn  ...      1.0         positive
796  1394522457403367426   odmandahk0106  ...     -1.0         negative
797  1394466420357046287  erdembileg2010  ...     -1.0         negative
798  1394522197020999681        aagii896  ...     -1.0         negative
799  1395027396969918469       tsdulmaa1  ...      1.0         positive

[5 rows x 10 columns]

In [ ]:
df=df_er.sort_values('date')
df=df[['Expression Label','tweets']]
df.to_csv('s_erdene_sent_analysis.csv', index=False)

In [ ]:
new1 = df_er.groupby('Expression Label').count()
x = list(new1['polarity'])
y = list(new1.index)
tuple_list = list(zip(x,y))

df = pd.DataFrame(tuple_list, columns=['x','y'])

df['color'] = 'blue'
df['color'][1] = 'red'
df['color'][2] = 'green'

import plotly.graph_objects as go
fig = go.Figure(go.Bar(x=df['x'],
                y=df['y'],
                orientation ='h',
                marker={'color': df['color']}))
fig.update_layout(
    title={
        'text': "The latest 800 tweets about the president candidate S.Erdene",
        'y':0.9,
        'x':0.5,
        'xanchor': 'center',
        'yanchor': 'top'})


fig.show()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy